* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
  }
  
.search-bar {
    width: 580px;
    margin: 0px auto;
    position: relative;
    padding: 20px;
    text-align: center;
}

.search-bar .input-box {
    width: 100%;
    position: relative;
}

.search-bar .input-box .s-input {
    display: inline-block;
    border: 1px solid #DDDDDD;
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    padding: 13px;
    padding-left: 45px;
    border-radius: 25px;
    width: 100%;
    transition: box-shadow 100ms;
    outline: none;
}

.search-bar .input-box.focused .s-input {
    border-radius: 25px 25px 0 0 !important;
    border-bottom: 1px solid #DDDDDD;
}

.search-bar .active {
    background: gray;
}
.search-bar .active:hover {
    background: gray;
}

.search-bar .input-box .input-box-lupa {
    width: 40px;
    height: 38px;
    background-image: url('../../assets/img/lupa.png');
    position: absolute;
    left: 10px;
    top: 6px;
    z-index: 1;
}

.search-bar .input-box .input-box-mic {
    width: 37px;
    height: 43px;
    background-image: url('../../assets/img/mikro.png');
    position: absolute;
    right: 10px;
    top: 3px;
}

.search-bar .s-button {
    background-color: #F8F9FA;
    border: 1px solid #F8F9FA;
    border-radius: 4px;
    color: #3C4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    margin-top: 30px;
}

.search-bar-results {
    list-style: none;
    border: 1px solid #DDDDDD;
    border-top: none;
    background: white;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    text-align: left;
    border-radius: 0 0 25px 25px;
}

.search-bar-results li {
    padding: 12px 16px;
    font-weight: bold;
    
}

.search-bar-results li .input-box-loup {
    background-image: url("../../assets/img/lupa.png");
    float: left;
    padding: 12px 16px;
    cursor: pointer;
}


.search-bar-results li b {
    font-weight: normal;
    
}

.results .input-box {
    width: 600px;
    position: relative;
}

.input-box-loup {
    width: 40px;
    height: 38px;
    background-image: url("../../assets/img/lupa.png");
    left: 10px;
    top: 7px;
    z-index: 1;
  }

.input-box-mic {
    width: 37px;
    height: 43px;
    background-image: url("../../assets/img/mikro.png");
    right: 7px;
    z-index: 1;
    top: 4px;
  }
li .input-box-mic {
    background-image: url("../../assets/img/lupa.png");
    float: left;
    padding: 12px 16px;
    cursor: pointer;
}

.results .s-input {
    min-width: 600px;
    position: relative;
    border: 1px solid #DDDDDD;
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    padding: 13px 25px 13px 45px;
    border-radius: 25px;
    transition: box-shadow 100ms;
    outline: none;
  }